a {
    color: $color-link;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        color: $color-link--hover;
    }

    &.hightlight {
        color: $color-contrast;

        &:hover {
            color: $color-dark;
        }
    }
}

#lang-panel {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 5px;
    z-index: 100;
    font-size: $ft-sz-smer;

    .lang {
        display: inline-block;
        border-radius: 5px;
        padding: 2px 8px;

        &.selected {
            background-color: $color-light;
            color: $color-dark;
            cursor: default;
        }
    }
}