// font
$fontSize = 15px
$fontWeight = 300

// colors
$accentColor = #4688F1
$textColor = #161F28
$borderColor = #eaecef

.red {
  color: red;
}

.bold {
  font-weight: 700;
}

.sub-project {
  padding: 6px 0;
  font-size: 0.9em;
  font-weight: bold;
}

.padding {
  padding-left: 20px;  
}

.page .content > h3 {
  font-weight: bold;
}

.page .content > h2 {
  font-size: 1.5em;  
}